#circle circle {
  fill: none;
  pointer-events: all;
}

.group path {
  fill-opacity: .5;
}

path {
  stroke: #000;
  fill:#f7f7f7;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: .5px;
}

path.chord {
  stroke: none;
}
.chord {
  opacity: 0.75;
}
.chord:hover {
opacity: 1;
}

#circle:hover path.fade {
  display: none;
}
